<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		
   
					<li><a href="https://twitter.com/lendamico" target="_blank" rel="me">Twitter</a></li>
		
      
					<li><a href="https://github.com/lendamico" target="_blank" rel="me">Github</a></li>
		
      
					<li><a href="https://www.linkedin.com/in/thelendamico/" target="_blank" rel="me">LinkedIn</a></li>

		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright"><a class="cta" href="https://micro.blog/{{ .Site.Author.username }}" rel="me">Also on Micro.blog</a></p>
</footer>