<div class="sparkle"></div>

<header id="masthead">
  <div class="inner-wrap">
    <a href="https://lendami.co/" class="site-title"><img src="https://lendami.co/assets/images/len-damico.svg" width="50px"></a>
    <nav role="navigation" class="menu top-menu">
		<ul class="menu-item">
			<li class="home"><a href="/">lendami.co</a></li>
		    <li><a href="/speaking/">speaking</a></li>
		    <li><a href="https://blog.lendami.co">blog</a></li>
			<li><a href="https://blog.lendami.co/archive/">archive</a></li>
			<li><a href="https://blog.lendami.co/photos">photos</a></li>
		    <li><a href="/contact/">contact</a></li>
		</ul>
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
